html
{
    scroll-behavior: smooth;
}
.navbar
{
    background-color: #C7E7FF;
}

.navbar .navbar-expand-lg
{
    background-color: #C7E7FF;
}

.section {
  display: grid;
  grid-template: 15vh 15vh 15vh 15vh 15vh / 1fr 3fr 3fr;
  grid-template-areas:
    "btn1 cnt cnt"
    "btn2 cnt cnt"
    "btn3 cnt cnt"
    "btn4 cnt cnt"
    "btn5 cnt cnt";
  width: 100%;
  margin: 10%;
}

#btn1{
  grid-area: btn1;
  height: 60%;
}

#btn2{
  grid-area: btn2;
  height: 60%;
}

#btn3{
  grid-area: btn3;
  height: 60%;
}

#btn4{
  grid-area: btn4;
  height: 60%;
}

#btn5{
  grid-area: btn5;
  height: 60%;
}
.cnt{
  grid-area: cnt;
}

.footer{
  background-color: grey;
  position: absolute;
  top: 116%;
  width: 100%;
  height: 10%;
}
#Facebook{
  text-decoration:none;
  position: absolute;
  right: 9%;
  
}
#Instagram{
  text-decoration: none;
  position: absolute;
  right: 9%;
  top: 35%;
}
#Twitter{
  text-decoration: none;
  position: absolute; 
  right: 9%;
  top: 65%;
}
#Face{
  width: 1.3%;
  position: absolute;
  right: 27.5%;
  top: 5%;
  right: 15%;
}
#Insta{
  width: 1.3%;
  right: 20.2%;
  position: absolute;
  top: 35%;
  right: 15%;
}
#tt{
  right: 12.4%;
  top: 65%;
  position: absolute;
  right: 15%;
}
#Telefone{
  left: 2%;
  position: absolute;
  text-decoration: none;
  top: 35%;
}

@media only screen and (max-width:950px) {
  .navbar /*header*/
  {
      background-color: #C7E7FF;
    width: 96%;
  }
  #btn1{
    left: 70%;
    position: relative;
  }
  #btn2{
    left: 70%;
    position: relative;
  }
  #btn3{
  left: 70%;
    position: relative;
  }  
  #btn4{
    left: 70%;
    position: relative;
  }
  #btn5{
    left: 70%;
    position: relative;
  }
  .Facebook{
    top: 105%;
    left: 80.2%;
  }
  .Instagram{
    top: 109.3%;
    left: 80%;
  }

  .Twitter{
    top: 113%;
    left: 82.3%;
  }
.Telefone{
  top: 110%;
}
  }
  @media only screen and (max-width:600px) {
    .navbar /*header*/
    {
        background-color: #C7E7FF;
      width: 98%;
    }
    #btn1{
      left: 60%;
      position: relative;
    }
    #btn2{
      left: 60%;
      position: relative;
    }
    #btn3{
    left: 60%;
      position: relative;
    }  
    #btn4{
      left: 60%;
      position: relative;
    }
    #btn5{
      left: 60%;
      position: relative;
    }
    .Facebook{
      top: 102%;
      left: 75.5%;
    }
    .Instagram{
      top: 106%;
      left: 75%;
    }
    .Twitter{
      top: 110%;
      left: 79%;
    }
  .Telefone{
    top: 107%;
  }
  
    }

@media only screen and (max-width:400px) {
  .navbar /*header*/
  {
      background-color: #C7E7FF;
    width: 102%;
  }
  #btn1{
    left: 40%;
    position: relative;
  }
  #btn2{
    left: 40%;
    position: relative;
  }
  #btn3{
  left: 40%;
    position: relative;
  }  
  #btn4{
    left: 40%;
    position: relative;
  }
  #btn5{
    left: 40%;
    position: relative;
  }
  .Facebook{
    top: 102%;
    left: 71%;
  }
  .Instagram{
    top: 106%;
    left: 70%;
  }

  .Twitter{
    top: 110%;
    left: 76%;
  }
.Telefone{
  top: 107%;
}

  
  }