.nav
{
    background-color: #C7E7FF;
}

.navbar-expand-lg
{
    background-color: #C7E7FF;
}

.txt_center{
    text-align: center;
}

.div_center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    max-width: 50%;
}
.footer{
    background-color: grey;
}

.socialmedia{
    text-align: right;
}

.socialphone{
    text-align: left;
}

.sections{
    display: grid;
    grid-template: 90vh/ 1fr 1fr 1fr;
    grid-template-areas:
        "s1 s2 s3";
    width: 100%;
    height: 100%;
}

#s1{
    grid-area: s1;
}

#s2{
    grid-area: s2;
}

#s3{
    grid-area: s3;
}
.acenter{
  height: 5%;
  width: 15%;
  top: 108%;
  left: 8%;
  font-size: 90%;
  position: absolute;
}
.bcenter{
  height: 5%;
  width: 15%;
  top: 108%;
  left: 42%;
  font-size: 90%;
  position: absolute;
}
.ccenter{
  height: 5%;
  width: 15%;
  left: 76%;
  font-size: 90%;
  position: absolute;
}
.footer{
  top:120%;
  width:100%;
  position: absolute;
 }

@media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
  
    .navbar-brand{
      left: 60%;
    }
      #At{
     top: 20%; 
     left: 20%;
     width: 69%;
   }
   .sections{
    display: grid;
    grid-template: 90vh/ 1fr 1fr 1fr;
    grid-template-areas:
        "s1"
        "s2" 
        "s3";
    width: 100%;
    height: 100%;
    text-align: center;
    
}

#s1{
    grid-area: s1;
    text-align: center;
    position: absolute;
}

#s2{
    grid-area: s2;
    top: 185%;
    text-align: center;
    position: absolute;
}

#s3{
    grid-area: s3;
    top: 340%;
    text-align: center;
    position: absolute;
}
.acenter{
  height: 5%;
  width: 48%;
  left: 26%;
  top: 100%;
  font-size: 120%;
}
  .bcenter{
    height: 5%;
    width: 48%;
    left: 26%;
    top: 100%;
    font-size: 120%;
  }
  .ccenter{
    height: 8%;
    width: 48%;
    left: 26%;
    top: 100%;
    font-size: 120%;
  }
   #Fa{
      top: 39%; 
      left: 20%;
      width: 69%;
    }
    #Ua{
      top: 58%; 
      left: 20%;
      width: 69%;
    }
    #Re{
      top: 77%; 
      left: 20%;
      width: 69%;
   }
   #Ho{
      top: 96%; 
      left: 20%;
      width:69%;
   }  
   .footer{
    top:440%;
    width:120%;
    position: absolute;
   }
   /* #Facebook ,*/ .Facebook{ 
      top: 0; 
      left: 10%;
      font-size: 0%;
      text-decoration: none;
   }
   /* #Instagram,*/ .Instagram{
    /* top: 35%;  */
    left: 90%;
    font-size: 0%;
    /* text-decoration: none; */
   }
   #Twitter, .Twitter{
    top: 70%; 
    left: 80%;
    font-size: 0%;
    text-decoration: none;
  }
  #iconefelefone, .Telefone{
  top: 20%; 
  left: 5%;
  text-decoration: none;
  }
   #container{
    width: 90%;
  } 

   }

  @media screen and ( max-width: 650px)
  {
    .nav
{
   height: 40%;
   position: absolute;
}
    .navbar-brand{
      left: 60%;
      height: 20%;
    }
      #At{
     top: 20%; 
     left: 20%;
     width: 69%;
   }
   .sections{
    display: grid;
    grid-template: 90vh/ 1fr 1fr 1fr;
    grid-template-areas:
        "s1 s1"
        "s2 s2" 
        "s3 s3";
    width: 100%;
    height: 100%;
    text-align: center;
    
}

#s1{
    grid-area: s1;
    text-align: center;
    position: absolute;
}

#s2{
    grid-area: s2;
    top: 150%;
    text-align: center;
    position: absolute;
}

#s3{
    grid-area: s3;
    top: 270%;
    text-align: center;
    position: absolute;
}
  .center{
    height: 5%;
    width: 85%;
    font-size: 90%;
  }
   #Fa{
      top: 39%; 
      left: 20%;
      width: 69%;
    }
    #Ua{
      top: 58%; 
      left: 20%;
      width: 69%;
    }
    #Re{
      top: 77%; 
      left: 20%;
      width: 69%;
   }
   #Ho{
      top: 96%; 
      left: 20%;
      width:69%;
   }  
   .footer{
    top: 355%;
    width:100%;
    position: absolute;
   }
   /* #Facebook ,*/ .Facebook{ 
      top: 0; 
      left: 10%;
      font-size: 0%;
      text-decoration: none;
   }
   /* #Instagram,*/ .Instagram{
    /* top: 35%;  */
    left: 90%;
    font-size: 0%;
    /* text-decoration: none; */
   }
   #Twitter, .Twitter{
    top: 70%; 
    left: 80%;
    font-size: 0%;
    text-decoration: none;
  }
  #iconefelefone, .Telefone{
  top: 20%; 
  left: 5%;
  text-decoration: none;
  }
   #container{
    width: 90%;
  } 

   }
    @media screen and (max-width:400px)
    {
      #navbar-brand{
        left: 60%;
      }
        #At{
       top: 20%; 
       left: 20%;
       width: 69%;
     }
     .sections{
      display: grid;
      grid-template: 90vh/ 1fr 1fr 1fr;
      grid-template-areas:
          "s1 s1"
          "s2 s2" 
          "s3 s3";
      width: 100%;
      height: 100%;
      text-align: center;
      
  }
  
  #s1{
      grid-area: s1;
      text-align: center;
      position: absolute;
  }
  
  #s2{
      grid-area: s2;
      text-align: center;
      top: 115%;
      position: absolute;
  }
  
  #s3{
      grid-area: s3;
      top: 208%;
      text-align: center;
      position: absolute;
  }
    .center{
      height: 5%;
      width: 85%;
      font-size: 90%;
    }
     #Fa{
        top: 39%; 
        left: 20%;
        width: 69%;
      }
      #Ua{
        top: 58%; 
        left: 20%;
        width: 69%;
      }
      #Re{
        top: 77%; 
        left: 20%;
        width: 69%;
     }
     #Ho{
        top: 96%; 
        left: 20%;
        width:69%;
     }  
     .footer{
      top: 280%;
      width:100%;
      position: absolute;
     }
     /* #Facebook ,*/ .Facebook{ 
        top: 0; 
        left: 10%;
        font-size: 0%;
        text-decoration: none;
     }
     /* #Instagram,*/ .Instagram{
      /* top: 35%;  */
      left: 90%;
      font-size: 0%;
      /* text-decoration: none; */
     }
     #Twitter, .Twitter{
      top: 70%; 
      left: 80%;
      font-size: 0%;
      text-decoration: none;
    }
    #iconefelefone, .Telefone{
    top: 20%; 
    left: 5%;
    text-decoration: none;
    }
     #container{
      width: 90%;
    } 
  
     }
  
  
