.header{
  background-color: rgb(0, 195, 255);
  height: 50%;
}
#img_main{  
  height: 100%;
}
#nome{
    display: flex;
    display: inline;
    position: absolute; 
    color: rgb(255, 255, 255);
}
#botao{
    display:flex ;
    display: inline;
    position: absolute;
    left: 85%;
    bottom: 92%;
    width: 14%; height: 6%;
    font-weight: bold;
    font-size: 150%;
}
  .main{
    border: rgb(11, 6, 11);
    border-style: outset;
    position: absolute;
    right: 50%;
    left: 30%;
    bottom: 90%;
    top: 20%;
    width: 40%; height: 70%;
  }
  #h1{
    text-align: center;
  }
  #img1{
    position: absolute;
    left: 43%;
    top: 18%;
  }
  #crm{
    font-weight: bold;
    position: absolute;
    left: 34%;
    top: 31%;
    font-size: 125%;
  }
  #CRMT{
     position: absolute;
     left: 38.7%;
     top: 38.7%;
     width: 34%;
     height: 4.1%;
     border: black;
     border-style:outset;
     
  }
  #img2{
    position: absolute;
    top: 38.8%;
    left: 33.8%;
    width: 4.2%;
    border: black;
    border-style:outset;
    
  }
  #SenhaP{
    font-weight: bold;
    position: absolute;
    left: 34%;
    top: 43.2%;
    font-size: 125%;
  }
  #Senha{
     position: absolute;
     left:38.7% ;
     top:50.9%;
     width: 34%;
     height: 4.1%;
     border: black;
     border-style:outset;
  }
  #img3{
    position: absolute;
    left:34%;
    top:50.9%;
    border: black;
    border-style:outset;
    height: 4.5%;
  }
  #Entrar{
    font-weight: bold;
    position: absolute;
    left: 45%;
    top:65%;
    font-size: 125%;
  }
  #h2{
    position: absolute;
    right: 3%;
    bottom: 3% ;
    font-size: 100%;
    text-decoration: none;
  }
 
  @media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
    
    .header{ 
      width:100%;
  }
  .main{
    width:80%; 
    height:80%;    
    left:8%;
    border-style: outset;
    position: absolute;
    bottom: 90%;
    top: 17%;
  }
  #botao{
    top: 2%; 
   left: 75%;
   height: 6%;
   width: 19%;
  }
  #h1_botao{
    height: 40%;
    left: 10%;
  }
  #h1{
    top: 1%;
    left: 38%;
    font-size: 280%;
  }
  #h2{
    top: 85%;
    left: 65%;
    font-size: 140%;
  }
  #crm{
    top: 40%;
    left: 33.2%;
    font-size: 130%;
  }
  #CRMT{
    top: 49%;
    left: 37%;
  }
  #img1{
   top: 25%; 
   left: 44%;
   height: 13%;
 }
 #img2{
  top: 49%; 
  left: 32.6%;
  width: 3.7%;
}
#img3{
  top: 60%; 
  left: 33.2%;
  height: 5,5%;
}
 #SenhaP{
    top: 52%; 
    left: 33.2%;
  }
  #Senha{
    top: 60%;
    left: 37%;
    height: 4%;
  }
  #Entrar{
    top: 70%; 
    left: 46%;
  }

 
}
@media screen and ( max-width: 650px)
{
.header{ 
  width:100%;
}
.main{
width:80%; 
height:80%;    
left:8%;
border-style: outset;
position: absolute;
bottom: 90%;
top: 17%;
}
#botao{
top: 2%; 
left: 70%;
height: 6%;
width: 26%;
}
#h1_botao{
height: 40%;
left: 5%;
}
#h1{
top: 1%;
left: 50%;
font-size: 250%;
}
#h2{
top: 89%;
left: 52%;
font-size: 140%;
}
#crm{
top: 40%;
left: 33%;
font-size: 130%;
}
#CRMT{
top: 49%;
left: 38.5%;
}
#img1{
top: 25%; 
left: 44%;
height: 13%;
}
#img2{
top: 49%; 
left: 33%;
width: 4.8%;
}
#img3{
top: 59.9%; 
left: 33.0%;
}
#SenhaP{
top: 52%; 
left: 33.2%;
}
#Senha{
top: 60%;
left: 38.5%;
height: 4%;
}
#Entrar{
top: 70%; 
left: 46%;
}

 @media screen and (max-width:500px)
 {
 .header{ 
  width:100%;
}
.main{
width:80%; 
height:80%;    
left:8%;
border-style: outset;
position: absolute;
bottom: 90%;
top: 17%;
}
#botao{
top: 2%; 
left: 60%;
height: 6%;
width: 35%;
}
#h1_botao{
height: 40%;
left: 5%;
}
#h1{
top: 5%;
left: 20%;
font-size: 250%;
}
#h2{
top: 90%;
left: 50%;
font-size: 120%;
}
#crm{
top: 40%;
left: 30%;
font-size: 130%;
}
#CRMT{
top: 49%;
left: 36.8%;
}
#img1{
top: 25%; 
left: 40%;
height: 13%;
}
#img2{
top: 49%; 
left: 29.7%;
width: 6.3%;
}
#img3{
top: 59.9%; 
left: 29.4%;
height: 5,5%;
}
#SenhaP{
top: 52%; 
left: 30%;
font-size: 130%;
}
#Senha{
top: 60%;
left: 36.8%;
height: 4%;

}
#Entrar{
top: 70%; 
left: 42%;
}
}
}