.navbar
{
    background-color: #C7E7FF;
}

.navbar-expand-lg
{
    background-color: #C7E7FF;
}

.txt_center{
    text-align: center;
}

.div_center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    max-width: 50%;
}

footer{
    background-color: grey;
}

.socialmedia{
    text-align: right;
}

.socialphone{
    text-align: left;
}

.sections{
    display: grid;
    grid-template: 90vh/ 1fr 1fr 1fr;
    grid-template-areas:
        "s1 s2 s3";
    width: 100%;
    height: 100%;
}

#s1{
    grid-area: s1;
}

#s2{
    grid-area: s2;
}

#s3{
    grid-area: s3;
}


@media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
  .sections{
    display: grid;
    grid-template: 90vh/ 1fr 1fr 1fr;
    grid-template-areas:
        "s1"
        "s2"
        "s3";
    width: 100%;
    height: 100%;
}

#s1{
    grid-area: s1;
    width: 300%;
    position: relative;
    left: 10%;
}

#s2{
    grid-area: s2;
    width: 300%;
    position: relative;
    left: 10%;
}

#s3{
    grid-area: s3;
    width: 300%;
    position: relative;
    left: 10%;
} 
.socialmedia{
  text-decoration: none;
  color: white;
}
.socialphone{
  text-decoration: none;
  color: white;
}
    
    
  @media screen and ( max-width: 650px)
  {
    .sections{
      display: grid;
      grid-template: 90vh/ 1fr 1fr 1fr;
      grid-template-areas:
          "s1"
          "s2"
          "s3";
      width: 100%;
      height: 100%;
  }
  
  #s1{
      grid-area: s1;
      width: 300%;
      position: relative;
      left: 10%;
  }
  
  #s2{
      grid-area: s2;
      width: 300%;
      position: relative;
      left: 10%;
  }
  
  #s3{
      grid-area: s3;
      width: 300%;
      position: relative;
      left: 10%;
  } 
  .socialmedia{
    text-decoration: none;
    color: white;
  }
  .socialphone{
    text-decoration: none;
    color: white;
  } 
    @media screen and (max-width:400px)
    {
      .navbar{
    width: 106.2%;
    }
      .sections{
        display: grid;
        grid-template: 90vh/ 1fr 1fr 1fr;
        grid-template-areas:
            "s1"
            "s2"
            "s3";
        width: 100%;
        height: 100%;
    }
    
    #s1{
        grid-area: s1;
        width: 300%;
        position: relative;
        left: 10%;
    }
    
    #s2{
        grid-area: s2;
        width: 300%;
        position: relative;
        left: 10%;
    }
    
    #s3{
        grid-area: s3;
        width: 300%;
        position: relative;
        left: 10%;
    } 
    .footer{
      width: 105%;
    }
    .socialmedia{
      text-decoration: none;
      color: white;
    }
    .socialphone{
      text-decoration: none;
      color: white;
    } 
  }
  }
}
