html
{
    scroll-behavior: smooth;
}
.navbar
{
    background-color: #C7E7FF;
}

.navbar-expand-lg
{
    background-color: #C7E7FF;
}
.section{
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 80%;
    height: 60%;
}
#Fa{
    width: 20%;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 2%; 
}
#Ge{
    width: 20%;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 22%;
}
#An{
    width: 20%;
    height: 75px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 42%;
}
#Re{
    width: 20%;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 62%;
}
.footer{
    position: absolute;
    bottom: 0px;
    height: 81px;
    width: 100%;
    
}
#Facebook{
    position: absolute;
    right: 99px;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
#Instagram{
    position: absolute;
    right: 99px;
    top: 28px;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
#Twitter{
    position: absolute;
    right: 99px;
    top: 51px;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
#Telefone{
    color: white;
    position: absolute;
    left: 100px;
    top: 25px;
    font-size: 15px;
    text-decoration:none;/*comando para tira a linha que fica embaixo do a*/
}