.header{
  background-color: rgb(0, 195, 255);
  height: 50%;
}
#img_main{  
  height: 100%;
}
#nome{
    display: flex;
    display: inline;
    position: absolute; 
    color: rgb(255, 255, 255);
}
#botao{
    display:flex ;
    display: inline;
    position: absolute;
    left: 85%;
    bottom: 92%;
    width: 14%; height: 6%;
    font-weight: bold;
    font-size: 150%;
}
.main{
    border: rgb(11, 6, 11);
    border-style: outset;
    position: absolute;
    /* right: 20%; */
    left: 18%;
    bottom: 90%;
    top: 12%;
    width: 60%; 
    height: 88%;
}
#h1_ti{
    position: absolute;
    left: 30%;
    bottom: 88%;
    text-align: center;
    font-size: 250%;
}
#h2_me{
    position: absolute;
    top: 3%;
    left: 20%;
    font-size: 210%;
    font-weight: bold;
    
}
#h2_pa{
    position: absolute;
    right: 20%;
    top: 3%;
    font-size: 210%;
    font-weight: bold;
}
#bu_me{
    position: absolute;
    top: 15%;
    left: 7%;
    width: 40%; 
    height: 70%;
}

#bu_pa{
    position: absolute;
    top: 15%;
    right: 7%;
    width: 40%; height: 70%;
}
#entra1{
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 87%;
    left: 20%;
    width:13%; height: 5%;
}
#entra2{
     font-weight: bold;
     font-size: 25px;
     position: absolute;
     right: 20%;
     top: 87%;
     width:13%; height: 5%;
}
#h3{
    position: absolute;
    left: 35%;
    top: 90%;   
}

@media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
  .header{
   width: auto;
  }
  .main{
    width:60%; 
    height:88%;
    right:50%;
    left:20%;
    border-style: outset;
    position: absolute;
    bottom: 90%;
    top: 13%;
  }
   #h1_botao{  
    top: 2%;
    height: 782px;
    left: 788px;
    font-size: 18px;
   position: absolute; 
  } 

  #botao{
    left: 750px; 
    top: 10px;
    font-size: 10%;
    position: absolute;
    bottom: 638px;
    
  }

  #h1_ti {
    position:absolute; 
     height: 48px;
     left: 28%;
     font-size: 30px;
  }
  
  #h2_me{
    position: absolute; 
    height: 40px;
    left: 19%;
    font-size: 32px;
  }
  #h2_pa{
    position: absolute; 
    height: 40px;
    left: 63%;
    font-size: 32px;
    
  }
  #bu_me{
    position: absolute; 
    height: 413px;
    left: 8%;
  }
  #bu_pa{
    position: absolute; 
    height: 413px;
    left: 55%;
  }
  #entra1{
    position: absolute; 
    height: 40px;
    left: 19%; 
    top: 515px;
  }
  #entra2{
    position: absolute; 
    height: 40px;
    left: 65%; 
    top: 515px;
  }
  #h2{
    left: 30%;
    top: 89%;
    position: absolute;   
    font-size: 20px;
  }
  #h3{
    left: 160px;
    top: 91%;
    position: absolute;  
  } 
  @media screen and ( max-width: 800px)
{
  .header{
    width: auto;
   }
   .main{
     width:70%; 
     height:80%;
     /* right:10%; */
     left:15%;
     bottom: 90%;
     top: 15%;
     border-style: outset;
     position: absolute;
   }
   
    #h1_botao{  
     width: 160px;
     left: 565px;
     top: 7px;
     font-size: 25px;
     position: absolute; 
         
   } 
   #botao{
    width: 172px;
     left: 550px;
     top: 10px;
     height: 53px;
     font-size: 10%;
     position: absolute;
     bottom: 638px;
     
   }
 
   #h1_ti {
     position:absolute; 
      height: 41px;
      left: 30%;
      font-size: 30px;
   }
   
   #h2_me{
    height: 80px;
     left: 18%;
     top: 25px;
     position: absolute; 
     font-size: 30px;
   }
   #h2_pa{
     position: absolute; 
     height: 25px;
     left: 63%;
     top: 25px;
     font-size: 30px;
     
   }
   #bu_me{
     position: absolute; 
     height: 347px;
     left: 6%;
   }
   #bu_pa{
     position: absolute; 
     height: 347px;
     left: 55%;
   }
   #entra1{
     position: absolute; 
     height: 40px;
     left: 16%; 
     top: 80%;
   }
   #entra2{
     position: absolute; 
     height: 40px;
     left: 65%; 
     top: 80%;
   }
   #h2{
     left: 24%;
     top: 85%;
     position: absolute;   
     font-size: 23px;
   }
   #h3{
     left: 24%;
     top: 89%;
     position: absolute;  
   } 
}
}
@media screen and ( max-width: 768px)
{
  .header{
    width: auto;
   }
   .main{
     width:70%; 
     height:80%;
     /* right:10%; */
     left:15%;
     bottom: 90%;
     top: 15%;
     border-style: outset;
     position: absolute;
   }
   
    #h1_botao{  
     width: 160px;
     left: 565px;
     top: 7px;
     font-size: 25px;
     position: absolute; 
         
   } 
   #botao{
    width: 172px;
     left: 550px;
     top: 10px;
     height: 53px;
     font-size: 10%;
     position: absolute;
     bottom: 638px;
     
   }
 
   #h1_ti {
     position:absolute; 
      height: 41px;
      left: 30%;
      font-size: 30px;
   }
   
   #h2_me{
    height: 80px;
     left: 18%;
     top: 25px;
     position: absolute; 
     font-size: 30px;
   }
   #h2_pa{
     position: absolute; 
     height: 25px;
     left: 63%;
     top: 25px;
     font-size: 30px;
     
   }
   #bu_me{
     position: absolute; 
     height: 347px;
     left: 6%;
   }
   #bu_pa{
     position: absolute; 
     height: 347px;
     left: 55%;
   }
   #entra1{
     position: absolute; 
     height: 40px;
     left: 16%; 
     top: 80%;
   }
   #entra2{
     position: absolute; 
     height: 40px;
     left: 65%; 
     top: 80%;
   }
   #h2{
     left: 24%;
     top: 85%;
     position: absolute;   
     font-size: 23px;
   }
   #h3{
     left: 24%;
     top: 89%;
     position: absolute;  
   } 
}
@media screen and ( max-width: 650px)
    {
.header{
    width: 710px;
   }
   .main{
     width:90%; 
     height:90%;
     left:15%;
     bottom: 90%;
     top: 15%;
     border-style: outset;
     position: absolute;
   }
   
    #h1_botao{  
     width: 160px;
     left: 529px;
     top: 10px;
     font-size: 25px;
     position: absolute; 
         
   } 
   #botao{
    width: 180px;
     left: 510px;
     top: 10px;
     height: 60px;
     font-size: 10%;
     position: absolute;
     bottom: 638px;
     
   }
 
   #h1_ti {
     position:absolute; 
      height: 41px;
      left: 30%;
      font-size: 30px;
   }
   
   #h2_me{
    height: 80px;
     left: 20%;
     top: 25px;
     position: absolute; 
     font-size: 30px;
   }
   #h2_pa{
     position: absolute; 
     height: 25px;
     left: 65%;
     top: 25px;
     font-size: 30px;
     
   }
   #bu_me{
     position: absolute; 
     height: 400px;
     left: 8%;
   }
   #bu_pa{
     position: absolute; 
     height: 400px;
     left: 55%;
   }
   #entra1{
     position: absolute; 
     height: 40px;
     left: 20%; 
     top: 80%;
   }
   #entra2{
     position: absolute; 
     height: 40px;
     left: 66%; 
     top: 80%;
   }
   #h2{
     left: 24%;
     top: 85%;
     position: absolute;   
     font-size: 23px;
   }
   #h3{
     left: 25%;
     top: 89%;
     position: absolute;  
   }
}

@media screen and ( max-width: 600px)
    {
.header{
    width: 730px;
   }
   .main{
     width:90%; 
     height:90%;
     left:15%;
     bottom: 90%;
     top: 15%;
     border-style: outset;
     position: absolute;
   }
   
    #h1_botao{  
     width: 160px;
     left: 545px;
     top: 10px;
     font-size: 25px;
     position: absolute; 
         
   } 
   #botao{
    width: 180px;
     left: 530px;
     top: 10px;
     height: 60px;
     font-size: 10%;
     position: absolute;
     bottom: 638px;
     
   }
 
   #h1_ti {
     position:absolute; 
      height: 41px;
      left: 30%;
      font-size: 30px;
   }
   
   #h2_me{
    height: 80px;
     left: 20%;
     top: 25px;
     position: absolute; 
     font-size: 30px;
   }
   #h2_pa{
     position: absolute; 
     height: 25px;
     left: 63%;
     top: 25px;
     font-size: 30px;
     
   }
   #bu_me{
     position: absolute; 
     height: 400px;
     left: 8%;
   }
   #bu_pa{
     position: absolute; 
     height: 400px;
     left: 55%;
   }
   #entra1{
     position: absolute; 
     height: 40px;
     left: 17%; 
     top: 80%;
   }
   #entra2{
     position: absolute; 
     height: 40px;
     left: 65%; 
     top: 80%;
   }
   #h2{
     left: 24%;
     top: 85%;
     position: absolute;   
     font-size: 23px;
   }
   #h3{
     left: 25%;
     top: 89%;
     position: absolute;  
   }
}

@media screen and (max-width:400px)
{
  .header {
    width: auto;
    height: 60px;
   }
   #img_main{
    height: 60px;
   }
  
   .main{
     width:80%; 
     height:80%;  
     left: 40px;
     bottom: 90%;
     top: 13%;
     border-style: outset;
     position: absolute;
   }
   
    #h1_botao{  
     width: 110px;
     left: 271px;
     top: 1%;
     font-size: 18px;
     position: absolute; 
        
   } 
   #botao{
    width: 130px;
    top: 12px;
     font-size: 10%;
     position: absolute;
     bottom: 640px;
     height: 5%;
     left: 65%; 
   }
 
   #h1_ti {
     position:absolute; 
      height: 38px;
      left: 15%;
      font-size: 26px;
   }
   
   #h2_me{
     position: absolute; 
     height: 13px;
     left: 17%;
     top: 23px;
     font-size: 20px;
   }
   #h2_pa{
     position: absolute; 
     left: 61%;
     top: 23px;
     font-size: 20px;
     
   }
   #bu_me{
     position: absolute; 
     height: 300px;
     /* left: 8%; */
   }
   #bu_pa{
     position: absolute; 
     height: 300px;
     /* left: 55%; */
   }
   #entra1{
     position: absolute; 
     height: 30px;
     left: 12%; 
     top: 400px;
     font-size: 22px;
   }
   #entra2{
     position: absolute; 
     height: 30px;
     left: 59%; 
     top: 400px;
     font-size: 22px;
   }

   #h3{
     left: 18%;
     top: 84%;
     position: absolute; 
     font-size: 15px; 
   } 
}
@media screen and (max-width:300px)
{
  .header {
    width: 127%;
    height: 60px;
   }
   #img_main{
    height: 60px;
   }
  
   .main{
     width:100%; 
     height:84%;  
     left: 40px;
     bottom: 90%;
     top: 13%;
     border-style: outset;
     position: absolute;
   }
   
    #h1_botao{  
     width: 110px;
     left: 245px;
     top: 1%;
     font-size: 18px;
     position: absolute; 
        
   } 
   #botao{
    width: 130px;
    top: 12px;
     font-size: 10%;
     position: absolute;
     bottom: 640px;
     height: 5%;
     left: 78%; 
   }
 
   #h1_ti {
     position:absolute; 
      height: 38px;
      left: 15%;
      font-size: 26px;
   }
   
   #h2_me{
     position: absolute; 
     height: 13px;
     left: 17%;
     top: 40px;
     font-size: 20px;
   }
   #h2_pa{
     position: absolute; 
     left: 61%;
     top: 40px;
     font-size: 20px;
     
   }
   #bu_me{
     position: absolute; 
     height: 300px;
   }
   #bu_pa{
     position: absolute; 
     height: 300px;
   }
   #entra1{
     position: absolute; 
     height: 30px;
     left: 11%; 
     top: 400px;
     font-size: 22px;
   }
   #entra2{
     position: absolute; 
     height: 30px;
     left: 58%; 
     top: 400px;
     font-size: 22px;
   }

   #h3{
     left: 18%;
     top: 75%;
     position: absolute; 
     font-size: 15px; 
   } 
}