.header{
  background-color: rgb(0, 195, 255);
  height: 50%
}
#img_main{  
  height: 100%
}
#nome{
    display: flex;
    display: inline;
    position: absolute; 
    color: rgb(255, 255, 255);
}
#botao{
    display:flex ;
    display: inline;
    position: absolute;
    left: 85%;
    bottom: 92%;
    width: 14%; height: 6%;
    font-weight: bold;
    font-size: 150%;
}
  .main{
    border: rgb(11, 6, 11);
    border-style: outset;
    position: absolute;
    right: 50%;
    left: 30%;
    bottom: 90%;
    top: 20%;
    width: 40%; 
    height: 70%
  }
  #h1{
    text-align: center;
  }
  #img1{
    position: absolute;
    left: 42%;
    top: 17%;
  }
  #crm{
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 27%;
    font-size: 130%;
  }
  #CRMT{
     position: absolute;
     left: 35%;
     top: 35%;
     width: 35%; 
     height: 4.2%;
     border: black;
     border-style:outset;
     
  }
  #img2{
    position: absolute;
    top: 35%;
    left: 30%;
    border: black;
    border-style:outset;  
  }
  #SenhaP{
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 130%;
  }
  #Senha{
     position: absolute;
     left: 30%;
     top: 48%;
     width: 40%; 
     height: 4.2%;
     border: black;
     border-style:outset;
  }
  #img3{
    position: absolute;
    left: 30%;
    top: 48%;
    border: black;
    border-style:outset;
    height: 26%;
    height: 4.5%;
    
  }
  #Entrar{
    font-weight: bold;
    position: absolute;
    left: 35%;
    top: 60%;
    width: 30%; 
    height: 10%;
    font-size: 250%;
    cursor: pointer; 
  }
  #h2{
    position: absolute;
    left: 35%;
    top:75%;
    font-size: 125%;
    cursor: pointer; 
    text-decoration: none;
  }
  #h3{
    position: absolute;
    left: 27%;
    top:80%;
    font-size: 120%;
    cursor: pointer; 
  }
  #a{
    text-decoration: none;
  }
  @media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
    .header{
     width: auto;
    }
    .main{
      width:70%; 
      height:73%;
      left:14%;
      border-style: outset;
      position: absolute;
      bottom: 90%;
      top: 13%;
    }
     /* #h1_botao{  
      height: 10px;
      left: 10%;
      top: 3px;
      font-size: 10%;
     position: absolute; 
    }  */
  
    #botao{
      left: 80%; 
      top: 2%;
      font-size: 100%;
      position: absolute;
    }
 
    #h1{
      position:absolute; 
      height: 10%;
      left: 43%;
     
      font-size: 200%;
    }
    #img1{
      height: 48px;
       left: 46%;
       top: 18%;
    }
    #Senha{
      position: absolute; 
      left: 34.9%;
      width: 35%;
      top: 56.5%;
    }
      
    #crm{
      position: absolute; 
      left: 31%; 
      top: 33%;
    }
    #CRMT{
      position: absolute; 
      left: 35%; 
      top: 42.9%;
    }
    #img2{
      left: 31%; 
      top: 42.9%;
    }
    #img3{
      left: 31%; 
      top: 56.5%;
    }
    #SenhaP{
      left: 31%; 
      top: 48%; 
    }
    #h2{
      left: 35%;
      top: 80%;
      position: absolute;   
      font-size: 150%;
      text-decoration: none;
    }
    #h3{
      left: 29%;
      top: 85%;
      position: absolute;  
      text-decoration: none;  
      cursor: pointer; 
    } 
    #a{
      text-decoration: none;
     
    }
    #Entrar{
      left: 40%;
      width: 20%;
      top: 65%;
      font-size: 150%;
    }
  }

  @media screen and ( max-width: 768px)
  {
  .header{
    width: auto;
   }
   .main{
     width:70%; 
     height:73%;
     left:14%;
     border-style: outset;
     position: absolute;
     bottom: 90%;
     top: 13%;
   }
 
   #botao{
     left: 72%; 
     top: 2%;
     width: 20%;
     font-size: 100%;
     position: absolute;
   }

   #h1{
     position:absolute; 
     height: 10%;
     left: 43%;
    
     font-size: 200%;
   }
   #img1{
     height: 48px;
      left: 46%;
      top: 20%;
   }
   #Senha{
     position: absolute; 
     left: 36%;
     width: 35%;
     top: 56.5%;
   }
     
   #crm{
     position: absolute; 
     left: 31%; 
     top: 33%;
   }
   #CRMT{
     position: absolute; 
     left: 36%; 
     top: 42.9%;
   }
   #img2{
     left: 31%; 
     top: 42.9%;
   }
   #img3{
     left: 31%; 
     top: 56.5%;
   }
   #SenhaP{
     left: 31%; 
     top: 48%; 
   }
   #h2{
     left: 32%;
     top: 80%;
     position: absolute;   
     font-size: 150%;
     text-decoration: none;
   }
   #h3{
     left: 25%;
     top: 85%;
     position: absolute;  
     text-decoration: none;  
     cursor: pointer; 
   } 
   #a{
     text-decoration: none;
    
   }
   #Entrar{
     left: 38%;
     width: 25%;
     height: 8%;
     top: 65%;
     font-size: 150%;
   }
 }
  
 
  @media screen and (max-width:400px)
  {
    .header{
      width: auto;
     }
     .main{
       width:70%; 
       height:73%;
       left:14%;
       border-style: outset;
       position: absolute;
       bottom: 90%;
       top: 13%;
     }
   
     #botao{
       left: 65%; 
       top: 2%;
       width: 30%;
       font-size: 100%;
       position: absolute;
     }
  
     #h1{
       position:absolute; 
       height: 10%;
       left: 35%;     
       font-size: 200%;
     }
     #img1{
       height: 48px;
        left: 44%;
        top: 20%;
     }
     #Senha{
       position: absolute; 
       left: 40%;
       width: 35%;
       top: 56.5%;
     }
       
     #crm{
       position: absolute; 
       left: 31%; 
       top: 33%;
     }
     #CRMT{
       position: absolute; 
       left: 40%; 
       top: 42.9%;
     }
     #img2{
       left: 31%; 
       top: 42.9%;
     }
     #img3{
       left: 31%; 
       top: 56.5%;
     }
     #SenhaP{
       left: 31%; 
       top: 48%; 
     }
     #h2{
       left: 20%;
       top: 80%;
       position: absolute;   
       font-size: 120%;
       text-decoration: none;
     }
     #h3{
       left: 25%;
       top: 85%;
       position: absolute;  
       text-decoration: none;  
       font-size: 110%;
       cursor: pointer; 
     } 
     #a{
       text-decoration: none;
      
     }
     #Entrar{
       left: 38%;
       width: 30%;
       height: 8%;
       top: 65%;
       font-size: 150%;
     }
   }
    