.header{
    background-color: rgb(0, 195, 255);
    height: 50%;
  }
  #img_main{  
    height: 100%;
  }
  #nome{
      display: flex;
      display: inline;
      position: absolute; 
      color: rgb(255, 255, 255);
  }
  #botao{
      display:flex ;
      display: inline;
      position: absolute;
      left: 85%;
      bottom: 92%;
      width: 14%; 
      height: 6%;
      font-weight: bold;
      font-size: 150%;
  }
.main{
    border: rgb(11, 6, 11);
    border-style: outset;
    position: absolute;
    right: 50%;
    left: 30%;
    bottom: 90%;
    top: 20%;
    width: 40%; 
    height: 70%
  }
  #h1{
    text-align: center;
    font-size: 250%;
  }
  #img1{
    position: absolute;
    top: 31%;
    left: 43%;
  }
  #h2{
    position: absolute;
    top: 31%;
    left: 49%;
  }
  #section{
    border: black;
    border-style: outset;
    width: 35%;
    height: 10%;
    position: absolute;
    left: 33%; 
    top: 45%;
  }
  #h13{
    text-align: center;
    font-size: 120%;
  }
  #Login{
    position: absolute;
    left: 48%; 
    top: 60%;
    font-size: 180%;
  }
 
  
  @media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
    .header{
     width: 167%;
    }
    .main{
      width:100%; 
      height:100%;
      left:35%;
      border-style: outset;
      position: absolute;
      bottom: 90%;
      top: 20%;
    }
    #botao{
      width: 20%;
      top: 2%;
      left: 140%;
      position: absolute;     
    }
    
    #h2{
      position: absolute; 
      height: 80%;
      top: 35%; 
      left: 83%;
      font-size: 40px; 
    }
    #h1{
      position: absolute;
      top: 3%;
      left: 32%;
      font-size: 250%;
    }
    #h3{
      position: absolute;
      height: 90%;
      width: 90%;
      top: 0%;
      left: 2%;
      font-size: 150%;
    }
      
    #img1{
      position: absolute;
      left: 670px;
      top: 255px;
    }

    #section{
      left: 63%;
      height: 15%;
      top: 68%;
      width: 50%;
    }

    #Login{
      left: 85%;
      top: 90%;
      text-decoration: none;
    }

  }
  @media screen and ( max-width: 768px)
  {
    header{
      width: 167%;
     }
     .main{
       width:100%; 
       height:100%;
       left:35%;
       border-style: outset;
       position: absolute;
       bottom: 90%;
       top: 20%;
     }
     #botao{
       width: 25%;
       top: 2%;
       left: 130%;
       position: absolute; 
     }
     
     #h2{
       position: absolute; 
       height: 40%;
       top: 45%; 
       left: 83%;
       font-size: 230%; 
     }
     #h1{
       position: absolute;
       height: 80%;
       top: 2%;
       left: 30%;
       font-size: 250%;
     }
       
     #img1{
       position: absolute;
       left: 70%;
       top: 45%;
     }
 
     #section{
       left: 55%;
       width: 60%;
       height: 20%;
       top: 65%;
     }
 
     #Login{
       left: 80%;
       top: 90%;
       font-size: 200%;
     }
 
  }
 
  @media screen and ( max-width: 601px)
  {
  header{
    width: auto;
   }
   .main{
     width:130%; 
     height:100%;    
     left:22%;
     border-style: outset;
     position: absolute;
     bottom: 90%;
     top: 20%;
   }
   #botao{
     width: 30%;
     top: 2%;
     left: 120%;
     position: absolute;
   }
   
   #h2{
     position: absolute; 
     height: 40px;
     top: 260px; 
     left: 78%;
     font-size: 40px; 
   }
   #h1{
     position: absolute;
     height: 80%;
     top: 10px;
     left: 25%;
     font-size: 230%;
   }
     
   #img1{
     position: absolute;
     left: 55%;
     top: 38%;
   }

   #section {
     left: 45%;
     top: 60%;
    width: 85%;
    height:20%;
    }
  #h3{
  font-size: 180%;
  }

   #Login{
     left: 80%;
     top: 88%;
   }
   }
   @media screen and (max-width:500px)
   {
     header{
       width:auto;
      }
      .main{
        width:130%; 
        height:100%;    
        left:19%;
        border-style: outset;
        position: absolute;
        bottom: 90%;
        top: 20%;
      }
      #botao{
        width: 205px;
        top: 10px;
        left: 110%;
        position: absolute;
        bottom: 638px;
        
      }
      
      #h2{
        position: absolute; 
        height: 40px;
        top: 260px; 
        left: 78%;
        font-size: 40px; 
      }
      #h1{
        position: absolute;
        height: 80%;
        top: 10px;
        left: 17%;
        font-size: 40px;
      }
        
      #img1{
        position: absolute;
        left: 220px;
        top: 265px;
      }
   
      #section {
        left: 167px;
        top: 470px;
        width: 95%;
        height:20%;
       }
     #h13{
     font-size: 30px;
     }
   
      #Login{
        left: 370px;
        top: 650px;
      }
   
      #Cadastre-se{
        width: 50%;
        left: 105%;
        top: 790px;
       font-size: 28px;
      }
      }
  
@media screen and (max-width:400px)
  {
    header{
      width:auto;
     }
     .main{
       width:130%; 
       height:100%;    
       left:19%;
       border-style: outset;
       position: absolute;
       bottom: 90%;
       top: 20%;
     }
     #botao{
       width: 50%;
       top: 2%;
       left: 110%;
       position: absolute;
     }
     
     #h2{
       position: absolute; 
       top: 37%; 
       left: 78%;
       font-size: 250%; 
     }
     #h1{
       position: absolute;
       height: 80%;
       top: 10px;
       left: 17%;
       font-size: 40px;
     }
       
     #img1{
       position: absolute;
       left: 50%;
       top: 38%;
     }
  
     #section {
       left: 40%;
       top: 60%;
       width: 90%;
       height:20%;
       font-size: 110%;
      }

     #Login{
       left: 70%;
       top: 90%;
     }
  
     #Cadastre-se{
       width: 50%;
       left: 105%;
       top: 910px;
      font-size: 28px;
     }
     }
     