.header{
  background-color: rgb(0, 195, 255);
  height: 50%
}
#img_main{  
  height: 100%
}
#nome{
    display: flex;
    display: inline;
    position: absolute; 
    color: rgb(255, 255, 255);
}
#botao{
    display:flex ;
    display: inline;
    position: absolute;
    left: 85%;
    bottom: 92%;
    width: 14%; height: 6%;
    font-weight: bold;
    font-size: 150%;
}
  .main{
    border: rgb(11, 6, 11);
    border-style: outset;
    position: absolute;
    right: 50%;
    left: 30%;
    bottom: 90%;
    top: 20%;
    width: 40%; height: 70%
  }
  #h1{
    text-align: center;
  }
  #img1{
    position: absolute;
    left: 42%;
    top: 17%;
  }
  #crm{
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 27%;
    font-size: 19px;
  }
  #CRMT{
     position: absolute;
     left: 35%;
     top: 35%;
     width: 35%; height: 4.2%;
     border: black;
     border-style:outset;
     
  }
  #img2{
    position: absolute;
    top: 35%;
    left: 30%;
    border: black;
    border-style:outset;  
  }
  #SenhaP{
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 19px;
  }
  #Senha{
     position: absolute;
     left: 30%;
     top: 48%;
     width: 40%; height: 4.2%;
     border: black;
     border-style:outset;
  }
  #img3{
    position: absolute;
    left: 30%;
    top: 48%;
    border: black;
    border-style:outset;
    height: 26px;height: 4.5%;
    
  }
  #Entrar{
    font-weight: bold;
    position: absolute;
    left: 35%;
    top: 60%;
    width: 30%; height: 10%;
    font-size: 250%;
    cursor: pointer; 
  }
  #h2{
    position: absolute;
    left: 35%;
    top:75%;
    font-size: 125%;
    cursor: pointer; 
  }
  #h3{
    /* color: rgb(40, 100, 240); */
    position: absolute;
    left: 27%;
    top:80%;
    font-size: 120%;
    cursor: pointer; 
  }
  @media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
    .header{
     width: auto;
    }
    .main{
      width:70%; 
      height:73%;
      /* right:30%; */
      left:14%;
      border-style: outset;
      position: absolute;
      bottom: 90%;
      top: 13%;
    }
     #h1_botao{  
      height: 10px;
      left: 10%;
      top: 3px;
      font-size: 18px;
     position: absolute; 
    } 
  
    #botao{
      left: 750px; 
      top: 10px;
      font-size: 10%;
      position: absolute;
      bottom: 638px;
      
    }
 
    #h1{
      position:absolute; 
       height: 48px;
       left: 43%;
       font-size: 30px;
    }
    #img1{
      height: 48px;
       left: 46%;
    }
    
    #Senha{
      position: absolute; 
      left: 35%;
      font-size: 32px;
    }
      
    #crm{
      position: absolute; 
      left: 31%; 
      top: 172px;
    }
    #CRMT{
      position: absolute; 
      left: 35%; 
      top: 220px;
    }
    #img2{
      left: 31%; 
      top: 220px;
    }
    #img3{
      left: 205px; 
      top: 290px;
    }
    #SenhaP{
      left: 205px; 
      top: 245px; 
    }
    #h2{
      left: 35%;
      top: 67%;
      position: absolute;   
      font-size: 18px;
      text-decoration: none;
    }
    #h3{
      left: 180px;
      top: 75%;
      position: absolute;  
      text-decoration: none;  
      cursor: pointer; 
    } 
    #a{
      text-decoration: none;
     
    }
    #Entrar{
      left: 285px;
      top: 58%;
    }
  }

  @media screen and ( max-width: 768px)
  {
  .header{
     width: 123%;
    }
    .main{
      width:85%; 
      height:73%;
      /* right:30%; */
      left:18%;
      border-style: outset;
      position: absolute;
      bottom: 90%;
      top: 17%;
    }
     #h1_botao{  
      height: 10px;
      left: 10%;
      top: 3px;
      font-size: 18px;
     position: absolute; 
    } 
  
    #botao{
      left: 730px; 
      top: 10px;
      font-size: 10%;
      position: absolute;
      bottom: 638px;
      
    }
 
    #h1{
      position:absolute; 
       height: 48px;
       left: 43%;
       font-size: 30px;
    }
    #img1{
      height: 48px;
       left: 46%;
    }
    
    #Senha{
      position: absolute; 
      left: 35%;
      font-size: 32px;
    }
      
    #crm{
      position: absolute; 
      left: 31%; 
      top: 170px;
    }
    #CRMT{
      position: absolute; 
      left: 35%; 
      top: 220px;
    }
    #img2{
      left: 301; 
      top: 220px;
    }
    #img3{
      left: 200px; 
      top: 290px;
    }
    #SenhaP{
      left: 205px; 
      top: 245px; 
    }
    #h2{
      left: 35%;
      top: 67%;
      position: absolute;   
      font-size: 18px;
      text-decoration: none;
    }
    #h3{
      left: 180px;
      top: 75%;
      position: absolute;  
      text-decoration: none;  
      cursor: pointer; 
    } 
    #a{
      text-decoration: none;
     
    }
    #Entrar{
      left: 280px;
      top: 58%;
    }
  }
  
  @media screen and ( max-width: 600px)
      {
  .header{
      width: 210%;
     }
     .main{
       width:90%; 
       height:80%;
       /* right:10%; */
       left:15%;
       bottom: 90%;
       top: 15%;
       border-style: outset;
       position: absolute;
     }
     
      #h1_botao{  
       width: 160px;
       /* height: 1140px; */
       left: 545px;
       /* right: 90%; */
       top: 10px;
       font-size: 25px;
       position: absolute; 
           
     } 
     #botao{
      width: 180px;
       left: 530px;
       top: 10px;
       height: 60px;
       font-size: 10%;
       position: absolute;
       bottom: 638px;
       
     }
   
     #h1_ti {
       position:absolute; 
        height: 41px;
        left: 30%;
        font-size: 30px;
     }
     
     #h2_me{
      height: 80px;
       left: 20%;
       top: 25px;
       position: absolute; 
       font-size: 30px;
     }
     #h2_pa{
       position: absolute; 
       height: 25px;
       left: 63%;
       top: 25px;
       font-size: 30px;
       
     }
     #bu_me{
       position: absolute; 
       height: 413px;
       left: 8%;
     }
     #bu_pa{
       position: absolute; 
       height: 413px;
       left: 55%;
     }
     #entra1{
       position: absolute; 
       height: 40px;
       left: 17%; 
       top: 80%;
     }
     #entra2{
       position: absolute; 
       height: 40px;
       left: 65%; 
       top: 80%;
     }
     #h2{
       left: 24%;
       top: 85%;
       position: absolute;   
       font-size: 23px;
     }
     #h3{
       left: 40%;
       top: 89%;
       position: absolute;  
     }
  }
  
  @media screen and (max-width:400px)
  {
    .header{
      width: auto;
     }
     .main{
       width:80%; 
       height:60%;  
       left: 40px;
       bottom: 90%;
       top: 13%;
       border-style: outset;
       position: absolute;
     }
     
      #h1_botao{  
       width: 100px;
       height: 8px;
       left: 280px;
       top: 2%;
       font-size: 16px;
       position: absolute; 
          
     } 
     #botao{
      width: 130px;
      top: 19px;
       /* left:30px; */
       font-size: 10%;
       position: absolute;
       bottom: 640px;
       height: 5%;
       left: 65%; 
     }
   
     #h1_ti {
       position:absolute; 
        height: 38px;
        left: 15%;
        font-size: 26px;
     }
     
     #h2_me{
       position: absolute; 
       height: 13px;
       left: 17%;
       top: 23px;
       font-size: 20px;
     }
     #h2_pa{
       position: absolute; 
       left: 61%;
       top: 23px;
       font-size: 20px;
       
     }
     #bu_me{
       position: absolute; 
       height: 300px;
       /* left: 8%; */
     }
     #bu_pa{
       position: absolute; 
       height: 300px;
       /* left: 55%; */
     }
     #entra1{
       position: absolute; 
       height: 30px;
       left: 13%; 
       top: 380px;
       font-size: 22px;
     }
     #entra2{
       position: absolute; 
       height: 30px;
       left: 58%; 
       top: 380px;
       font-size: 22px;
     }
     #h2{
       left: 16%;
       top: 86%;
       position: absolute;   
       font-size: 18px;
     }
     #h3{
       left: 40%;
       top: 92%;
       position: absolute; 
       font-size: 15px; 
     } 
  }