.header{
    background-color: rgb(0, 195, 255);
    height: 77px;
  }
  #img_main{  
      height: 77px;
  }
  #nome{
      display: flex;
      display: inline;
      position: absolute; 
      color: rgb(255, 255, 255);
  }
  #botao{
      display:flex ;
      display: inline;
      position: absolute;
      left: 85%;
      bottom: 92%;
      width: 189px; height: 50px;
  }
  #h1_botao{
      color: black;
      font-size: 160%;
      position: absolute;
      bottom: 1px;
      height: 16px;
      left: 15%;
      right: 20px;
  }


  .main{
    border: rgb(11, 6, 11);
    border-style: outset;
    position: absolute;
    right: 50%;
    left: 30%;
    bottom: 90%;
    top: 20%;
    width: 40%; height: 70%;
  }
  #h1{
    text-align: center;
  }
  #img1{
    position: absolute;
    left: 240px;
    top: 90px;
  }
  #crm{
    font-weight: bold;
    position: absolute;
    left: 191px;
    top: 165px;
    font-size: 19px;
  }
  #CRMT{
     position: absolute;
     left: 220px;
     top: 205px;
     width: 190px; height: 22px;
     border: black;
     border-style:outset;
     
  }
  #img2{
    position: absolute;
    top: 205px;
    left: 193px;
    border: rgb(0, 0, 0);
    border-style:outset;
    width: 24px;
    
  }
  #SenhaP{
    font-weight: bold;
    position: absolute;
    left: 191px;
    top: 230px;
    font-size: 19px;
  }
  #Senha{
     position: absolute;
     left: 220px;
     top: 270px;
     width:190px; height: 24px;
     border: black;
     border-style:outset;
  }
  #img3{
    position: absolute;
    left: 191px;
    top: 270px;
    border: black;
    border-style:outset;
    height: 26px
  }
  #Entrar{
    font-weight: bold;
    position: absolute;
    left: 260px;
    top: 310px;
    font-size: 19px;
  }
  #h2{
    color: rgb(0, 60, 255);
    position: absolute;
    left: 200px;
    top: 330px;
    font-size: 19px;
  }
  #h3{
    color: rgb(40, 100, 240);
    position: absolute;
    left: 465px;
    top: 485px;
    font-size: 19px;
  }